.btn-menu {
  width: 100%;

  height: 32px;

  cursor: pointer;

  font-size: 13px;

  color: #20405f;

  background: linear-gradient(
    to bottom,
    #f9f9f9 0%,
    #d8e7f2 50%,
    #bfd4e7 100%
  );

  border: 1px solid #6d879f;

  box-shadow:
    inset 0 0 0 2px #edf3f8,
    0 1px 0 #ffffff;
}

.btn-menu:hover {
  filter: brightness(0.98);
}

.content-footer .btn-menu {
  width: 90px;
  height: 24px;

  font-size: 12px;
}